# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
__pycache__/
*.py[cod]

# Environment
.env
.env.local

# Build
dist/
build/

# Editor directories and files
.vscode/
.idea/
.DS_Store
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Python
venv/

# Data files
*.pdf
backend/data/*.pdf
backend/data/*.json

.vercel
dist
